.pane{
//    -fx-opacity: 0.9;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-background-color: rgba(250,250,250,1) ;

    -fx-border-insets: -10px;
    -fx-background-insets: -10px;
 //   -fx-alternative-row-fill-visible: true;
  //  -fx-border-color: lightseagreen;
  //  -fx-fill: rgba(0,0,0,0.4);


}

.button2{
    -fx-background-color: teal;
    -fx-fill: white;
    -fx-font-weight: 900;
    -fx-text-fill: white;
    -fx-border-radius: 2px;
    -fx-border-color: seagreen;

}

.button{
    -fx-background-color: transparent;
    -fx-fill: black;
    -fx-font-weight: 900;
    -fx-text-fill: lightyellow;
    -fx-border-radius: .5px;
    -fx-border-width: .5px;
    -fx-border-color: #ffffff;
}
.button:hover{
//    -fx-stroke-width: 5px;
    //-fx-effect: dropshadow(three-pass-box, slategray, .4, 400.0, 1, 1);
  //  -fx-border-width: 5px;
  //  -fx-background-color: seagreen;

    -fx-border-color: lightsteelblue;

}
.cont{
    -fx-fill: white;
    -fx-background-color: rgba(0,0,0,0.7);
    -fx-right-border-color: black;
}

.cont2{
    -fx-background-color: #363d43;
}

.textfield{

}

#big{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #334 0%,#444 65%,#222 84%);
}

.menu{
    -fx-background-color: white;
    -fx-fill: ghostwhite;
}

#browse{
    -fx-background-color: transparent;
    -fx-border-radius: 1px;
//    -fx-border-color: ;
    -fx-border-width: .5px;
}

.tree{

    -fx-text-fill: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-alternative-row-fill-visible: true;
    -fx-padding: 1px;
}

.labels{
    -fx-fill: whitesmoke;
    -fx-text-fill: whitesmoke;
}

.tree-cell{
    -fx-background-color:transparent;
    -fx-text-fill: teal;
   // -fx-font-family: monospace;
    -fx-font-weight: 900;
    -fx-label-padding: 2px;
    -fx-padding: 6px;
    -fx-tick-label-fill: green;
    -fx-border-width: .1px;
    -fx-border-color: rgba(0,0,0,0.15);
  //  -fx-border-radius: 10px;


}


.tree-cell:hover {
    -fx-text-fill: teal;
    -fx-border-color: teal;
    -fx-background-color: #444444;
}

.tree-cell .tree-disclosure-node .arrow {

    -fx-fill: teal;
    -fx-tick-label-fill: ButtonShadow;
    -fx-text-fill: green;
}
.tree-cell:expanded .tree-disclosure-node .arrow {
  -fx-fill: coral;
}

.thumb{
    -fx-background-color: teal;
    -fx-border-radius: 9px;
}
.track{
    -fx-background-color: white;
    -fx-opacity: 0.0;
    -fx-base: transparent;

    visibility: hidden;
}
.track-background{
    -fx-background-color: white;
    -fx-opacity: 0.0;
    -fx-base: transparent;

    visibility: hidden;
}



.tree .track-background{
    -fx-background-color: teal;
    -fx-opacity: 0.0;
    -fx-base: transparent;
}

.tree-cell .label{
    -fx-text-fill: coral;
}

.textfield{
    -fx-highlight-fill: crimson;
    -fx-background-color: azure;
}

#rect{
    -fx-background-color: #343434;
}